.userInfo {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 10px 20px;
}

.userInfo:hover {
  background-color: #dbd4d7;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.details {
  margin-left: 10px;
  align-items: left;
  /* margin-right: 10px; */
}

.actions {
  margin-left: auto;
  display: flex; 
  align-items:left;
}

.followButton,
.unfollowButton,
.profileButton {
  background-color: #000102;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;

  right: 90%;
  font-weight: bolder;
}

.followButton:hover,
.unfollowButton:hover,
.profileButton:hover {
  background-color: #535152;
}

.username {
  color: gray;
  margin-top: 0;
}

.name {
  margin-bottom: 0;
}

.name:hover{
  text-decoration: underline;
}
