.userInfo {
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.userInfo:hover {
  background-color: #333031;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.details {
  margin-left: 10px;
  align-items: left;
}

.actions {
  margin-left: auto;
  display: flex;
}

.followButton,
.unfollowButton,
.profileButton {
  background-color: #000102;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

.followButton:hover,
.unfollowButton:hover,
.profileButton:hover {
  background-color: #535152;
}

.username {
  color: gray;
  margin-top: 0;
}

.name {
  margin-bottom: 0;
  color: white;
}

.name:hover {
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
}
