.section {
  margin-left: auto;
  width: 600px;
  border-right: 1px solid #dfd7d7;
  border-left: 1px solid #eee6e6 ;
  color: black;
}

.sectiondiv {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



.line{
  color: rgb(224, 219, 219);
  border-bottom: 1px solid rgb(234, 228, 228); 
}

 
@media (max-width: 1280px) {
  .section {
    margin-left: 100px;
  }
}

 
