.section {
  margin-left: 81px;
  margin-left: 340px;
  width: 600px;
  min-height: 100vh;
  border-right: 1px solid #ece3e3;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sectiondiv {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* .image {
 
  height: auto;
  width: auto;
  border-radius: 50%;
}

.image2 {
  height: 500px;
  width: 500px;
  border-radius: 15%;
  padding-left: 40px;
  padding-top: 1rem;
} */

.line{
  color: gray;
  border-bottom: 1px solid rgb(234, 228, 228); 
}


/* .postContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
} */

/* .sameSpan{
  display: flex;
}

.userName{
  padding-left: 10px;
}

.time {
  color: #a0aec0;
  padding-left: 10px;
 } */
 
