.combined {
    margin-left: 81px;
    width: 600px;
    min-height: 100vh;
    border-right: 1px solid #bdbdbd;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
   }



   .combined2 {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem 1rem;
   }

   .cursorPointer {
    cursor: pointer;
   }
   
   .combined3 {
    border-top: 1px solid #4a4a4a;
   }

   .pb {
    padding-bottom: 72px;
  }
  
   
   
   
   @media (min-width: 640px) {
    .combined {
      margin-left: 340px;
    }
   }
   