
.userList {
    list-style: none; 
    background-color: rgb(245, 241, 241);
    border-radius: 30px;
    width: 380px;
    /* margin-left: -1rem; */
    /* padding: 1 rem; */

   
  }
  
  .userList > li {
    margin-bottom: 20px;
  }
  