
body{
  background: black;
  font-family: Arial, 'Segoe UI';
}

.hoverEffect {
  background-color: black; 
  border-radius: 50%; 
  cursor: pointer;
}

.hoverEffect:hover {
  background-color: #181818; 
}
