.mainDiv {
  display: block;
  width: 50px;
}

.twitterIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 40%;
  margin-bottom: 1.3rem;
  border: none;
  border-radius: 100%;
}

.twitterIconContainer:hover {
  background-color: #292727;
  cursor: pointer;
}

.hoverEffect:hover {
  background-color: #292727;
  cursor: pointer;
}

.twitterIcon {
  font-size: 34px;
  color: white;
}

.sidebar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tweetButton {
  display: none;
  margin-left: 80px;
  background-color: #0d94ef;
  color: white;
  border-radius: 40px;
  width: 200px;
  height: 48px;
  font-size: 1.125rem;
  font-weight: bold;
}

.tweetButton:hover {
  background-color: #1a8cd8;
  cursor: pointer;
}

.signOutDiv {
  color: #a49b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:220%;
  
  padding: 18px 18px 18px 18px;
}

.resize {
  display: block;
}

.signOutDiv:hover {
  background-color: #292727;
  border-radius: 60px;
  cursor: pointer;
}

.signoutButton {
}

.userImage {
  border-radius: 100%;
}

.userDetails {
  display: none;
}

.userDetails h4 {
  font-weight: bold;
  display: none;
  gap: 0;
  padding: 0;
  margin: 0;
}

.userDetails p {
  color: #6e767d;
  display: none;
  gap: 0;
  padding: 0;
  margin: 0;
}

.dotsIcon {
  height: 1.25rem;
  display: none;
  margin-left: 4rem;
}

.profileButton {
  border: none;
  border-radius: 30px;
  margin-bottom: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.profileButton:hover {
  background-color: #292727;
}

@media (min-width: 1280px) {

  .twitterIconContainer{
    margin-left: 8%;
  }
  .userDetails h4 {
    display: flex;
  }

  .userDetails p {
    display: flex;
  }
  .sidebar {
    margin-left: 6rem;
  }
  .userDetails {
    display: inline;
  }

  .userImage {
    margin-right: 0.9rem;
  }

  .dotsIcon {
    display: inline;
  }

  .mainDiv {
    width: 345px;
  }

  .tweetButton {
    display: inline;
  }

  .signOutDiv {
    margin-left: auto;
    margin-top:50%;
  }

  .profileButton {
    margin-left: auto;
    align-items: left;
    justify-content: left;
  }


}

@media (max-width: 640px) {
  .mainDiv {
    width: 100px;
  }
}

@media (min-width: 640px) and (max-width: 1280px) {
  .mainDiv {
    width: 120px;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .mainDiv {
    width: 50px;
  }
}
