.mainDiv {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  padding: 2px;
  padding-right: 10px;
  position: fixed;
  height: 100%;
  padding-right: 0;
}

.twitterIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  padding: 0;
}

.hoverEffect:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.twitterIcon {
  font-size: 34px;
}

.sidebar {
  margin-top: 1rem;
  margin-bottom: 0.625rem;
}

.tweetButton {
  display: none;
  margin-left: 150px;
  background-color: #1d9bf0;
  color: white;
  border-radius: 40px;
  width: 200px;
  height: 52px;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 90px;
}

.tweetButton:hover {
  background-color: #1a8cd8;
}

.signOutDiv {
  color: #211616;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: auto;
}

.signOutDiv:hover {
}

.userImage {
  height: auto;
  width: auto;
  border-radius: 50%;
  
}

.userDetails {
  display: none;
  line-height: 1.25;
}

.userDetails h4 {
  font-weight: bold;
  display: none;
}

.userDetails p {
  color: #6e767d;
  display: none;
}

.dotsIcon {
  height: 1.25rem;
  display: none;
  margin-left: 4rem;
}

@media (min-width: 1280px) {


  .userDetails h4 {
    display: flex;
  }
  
  .userDetails p {

    display: flex;
  }
  .sidebar {
    margin-left: 6rem;
  }
  .userDetails {
    display: inline;
  }

  .userImage {
    margin-right: 2.5rem;
  }

  .dotsIcon {
    display: inline;
  }

  .mainDiv {
    width: 280px;
    padding-left: 0rem;
    padding-right: 3rem;
    position: fixed;
  }

  .twitterIconContainer {
    margin-left: 24px;
  }

  .tweetButton {
    display: inline;
  }

  .signOutDiv {
    margin-left: auto;
    margin-right: -5rem;
  }

}

@media (max-width: 640px) {
  .mainDiv {
    width: 100px;
  }
}


@media (min-width: 640px) and (max-width: 1300px) {
  .mainDiv {
    width: 150px;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .mainDiv {
    width: 50px;
  }
}

