.mainDiv {
  display: block;
  width: 50px;
  /* position: fixed; */
}

.twitterIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 22px;
  margin-bottom: 1.3rem; 
}

.hoverEffect:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.twitterIcon {
  font-size: 34px;
}

.sidebar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.tweetButton {
  display: none;
  margin-left: 80px;
  background-color: #1d9bf0;
  color: white;
  border-radius: 40px;
  width: 200px;
  height: 52px;
  font-size: 1.125rem;
  font-weight: bold;
}

.tweetButton:hover {
  background-color: #1a8cd8;
  cursor: pointer;
}

.signOutDiv {
  color: #211616;
  display: flex;
  align-items: center;
  justify-content: center;
  /* bottom: 90%; */
  margin-top: 190px;
 
}

.resize{
 display: block; 
}

.signOutDiv:hover {
  background-color: #f5f8fa;
  border-radius: 60px;
  cursor: pointer;
}

.signoutButton{
  /* margin-left:100px ;
  margin-bottom: 20px; */
}

.userImage {
  border-radius: 50%;
  
}

.userDetails {
  display: none;
  line-height: 1.25;
  margin-bottom: 40px;
}

.userDetails h4 {
  font-weight: bold;
  display: none;
  gap: 0;
  padding: 0;
  margin: 0;
}

.userDetails p {
  color: #6e767d;
  display: none;
  gap: 0;
  padding: 0;
  margin: 0;
}

.dotsIcon {
  height: 1.25rem;
  display: none;
  margin-left: 4rem;
  margin-bottom: 40px;
}

@media (min-width: 1280px) {


  .userDetails h4 {
    display: flex;
  }
  
  .userDetails p {

    display: flex;
  }
  .sidebar {
    margin-left: 6rem;
  }
  .userDetails {
    display: inline;
  }

  .userImage {
    margin-right: .9rem;
    margin-bottom: 40px;
  }

  .dotsIcon {
    display: inline;
  }

  .mainDiv {
    width: 345px;
  }

 

  .tweetButton {
    display: inline;
  }

  .signOutDiv {
    margin-left: auto;
  }

}



.profileButton{
  border: none;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 1.3rem; 
}
.profileButton:hover {
  background-color: lightgray; 
}

@media (max-width: 640px) {
  .mainDiv {
    width: 100px;
  }
}


@media (min-width: 640px) and (max-width: 1300px) {
  .mainDiv {
    width: 150px;
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .mainDiv {
    width: 50px;
  }
}

