.combined {
  margin-top: 1rem;
  border-top: 1px solid #a0aec0;
  padding: 1rem 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.myGridContainer {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 4px;
}

.image {
  height: auto;
  width: auto;
  border-radius: 50%;
}

.image2 {
  height: 500px;
  width: 500px;
  border-radius: 15%;
  padding-left: 40px;
  padding-top: 1rem;
}

.postContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.sameSpan {
  display: flex;
}

.userName {
  padding-left: 10px;
  font-weight: bolder;
}

.time {
  color: #a0aec0;
  padding-left: 10px;
}
.textPink{
  color: #b8323b;
}
.textSm {
  font-size: 0.875rem;
}


.combined2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  object-fit: cover;
}

.combined3 {
  display: block;
}

.combined4 {
  font-weight: 500;
}
.combined5 {
  display: flex;
}
.combined6 {
  color: #a0aec0;
}
.combined7 {
  max-height: 450px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 0.5rem;
}
.combined8 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  margin-left: 3rem;
  width: 80%;
}
.combined9 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.combined10 {
  width: 28px;
  height: 28px;
  padding: 4px;
}

.combined10:hover {
}

.textSm {
  font-size: 1rem;
}

.combined11 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.combined12 {
  width: 28px;
  height: 28px;
  padding: 4px;
  color: #e60914;
  cursor: pointer;
}

.combined12:hover {
  background-color: rgba(225, 10, 10, 0.1);
}

.combined13 {
  width: 28px;
  height: 28px;
  padding: 4px;
  color: rgb(1, 11, 11);
}

.combined13:hover {
}

.textPink {
  color: #ef0a0a;
}

.userDetails {
  display: none;
  line-height: 1.25;
}

/* .topBottom {
  display: flex;
  flex-direction: column;
  color: #6e767d;
} */

.tag{
  padding-left: 5px;
  color: #6e767d;
} 

@media (min-width: 640px) {
  .combined3 {
    display: flex;
    gap: 1rem;
  }
}
