.main {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .main {
      padding: 1.5rem;
    }
  }

  .container {
    display: flex;
    gap: 1.5rem; /* Adjust gap value as needed */
  }
  