.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 0.5rem;
  padding: .3rem 1rem;
  width:auto;
}

.container:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}


.container {
  position: relative; 
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center;
}

.icon {
  /* margin-right: 4px; */
  /* align-items: right; */
  /* margin-left: 5px; */
  margin-left: auto;
}

.notificationCount {
  position: absolute; 
  top: 2px; /* Adjust top position to move it slightly above the icon */
  right: 110px; /* Align notification count to the right side of the container */
  background-color: red; 
  color: white; 
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.75rem; 
}


@media (min-width: 1280px) {
  .hidden {
    display: inline;
   
  }

  .container {
    justify-content: start;
  }

  .icon {
    margin-right: 10px; 
   
  }
}